.Input-input{
    margin: 50px 20px 20px 60px;
}
.Input-button{
    cursor: pointer;
}
.outPut{
    margin: 8px 12px 15px 8px;
    border-bottom: 1px solid;
}
.edit{
    margin: 6px;
    cursor: pointer;
}
.delete{
    cursor: pointer;
}