.child{
    height: 40px;
    border: 1px solid;
    text-align: center;
    padding: 10px 10px 0px 14px;
    font-size: 12px;
    cursor: pointer;
}
.Title{
    padding: 20px;
    font-size: 30px;
} 
.handleback{
    margin-top: 20px;
}
.nameDetail{
    margin: 20px;
    font-size: 25px;
}
